<div class="section-wrapper">
    <section class="section skills" id="skills">
      <div>
        <!-- Section Title -->
        <div class="section-heading" id="skills-text">Skills</div>
  
        <div class="skills-grid" style="display: block;">
          
          <!-- Summary -->
          <div class="what-i-do">
            <p class="paragraph-text skills-summary center-align">
                저는 FPGA 기반 디지털 회로 설계와 임베디드 시스템 분야에 깊은 관심을 가지고 있는 예비 엔지니어입니다.
                Verilog/SystemVerilog로 FSM 기반 UART/I2C 통신 모듈을 설계하고, APB 기반 주변장치 및 FIFO 버퍼를 직접 구현했으며, Synopsys vcs, verdi를 이용해 다양한 테스트 시나리오로 검증까지 수행했습니다.              
                RISC-V 기반 CPU 설계, HLS 및 UVM 스타일 테스트벤치 구성 경험도 있으며, 실제 타이밍/글리치 측정 등 하드웨어 수준 검토에도 익숙합니다.
            </p>
          </div>
  
          <!-- Technical Skills -->
          <div class="technical-skills">
            
            <!-- Hardware Design -->
            <div class="skill-category center-align">
              <strong>Hardware Design</strong>
              <ul class="skill-tag-list">
                <li class="skill-tag"><img src="assets/icons/verilog.svg" class="icon-small" alt="Verilog">Verilog</li>
                <li class="skill-tag"><img src="assets/icons/systemverilog.svg" class="icon-small" alt="system-verilog">SystemVerilog</li>
                <li class="skill-tag"><img src="assets/icons/vivado.jpg" class="icon-small" alt="vivado">Vivado</li>
                <li class="skill-tag"><img src="assets/icons/vitis.png" class="icon-small" alt="vitis">Vitis</li>
                <li class="skill-tag"><img src="assets/icons/vcs.png" class="icon-wide" alt="VCS"> VCS</li>
                <li class="skill-tag"><img src="assets/icons/vcs.png" class="icon-wide" alt="Verdi">Verdi</li>
              </ul>
            </div>
  
            <!-- Embedded Systems -->
            <div class="skill-category center-align">
              <strong>Embedded Systems</strong>
              <ul class="skill-tag-list">
                <li class="skill-tag"><img src="assets/icons/C.png" class="icon-wide" alt="C">C Language</li>
                <li class="skill-tag"><img src="assets/icons/python.png" class="icon-wide" alt="python">Python</li>
                <li class="skill-tag">ARM Cortex-M</li>
              </ul>
            </div>
  
            <!-- Tools & Workflow -->
            <div class="skill-category center-align">
              <strong>Tools & Workflow</strong>
              <ul class="skill-tag-list">
                <li class="skill-tag">Git</li>
                <li class="skill-tag">Linux Terminal</li>
                <li class="skill-tag">Markdown</li>
                <li class="skill-tag">Shell Script</li>
              </ul>
            </div>
  
          </div>
        </div>
      </div>
    </section>
  </div>
  